.imagecss{	/* edge rounding of border */
    width: 100%;				/* width of image (px or % or auto) */
    height: 200px;
  }
 
  .i{
      width: 100%;
      height: 500px;
  }
  .myBlock{
      display: block;
      margin: 0px;
  }
  .myBlock2{
      display: inline;
      margin: 0px;
      width: 33%;
  }
  
    