.detailPanel{
    font-size: 15px;
    padding: 20px;
    background-color: #f2f7f3;
}
.spanStyle{
    margin-left: 5px;;
}
.mytabStyle{
    border: 1px solid black;
}
.mytabStyle2{
    border: 1px solid black;
    text-align: center;
}
.myHeader{
    padding: 20px;;
}